<span>
  <a routerLink="/">
    <img class="img" src="assets/imagens/home_corrida.png" alt="img"/>
  </a>
</span>

<span>
  <button class="conta" (click)="menu()">Criar uma Conta</button>
</span>

<mat-card class="card">
    <span>
      <h1 font-style="bold">Rummanzing</h1>    
      <h3>Aqui você encontrar um parceiro perfeito para realizar atividade física com você.</h3>

      <mat-divider></mat-divider>
      <h2>Missão</h2>

      <p>Transformar a maneira das pessoas realizar atividade física e incentivar para ter cada vez mais pessoas a realizar algum tipo de exercício.</p>

      <mat-divider></mat-divider>
      <h2>Visão</h2>

      <p>Nossa paixão por esportes faz do mundo um lugar melhor.</p>

      <mat-divider></mat-divider>
      <h2>Valores</h2>

      <p>Somos autênticos; comprometidos; honestos; inovadores e inspiradores.</p>
    </span>
</mat-card>